@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Neosans';
  margin: 0;

  .lady {
    margin-top: 30px;
    margin-bottom: 30px;
    transform: scale(0.9);
    box-shadow: 10px 10px 8px 10px #888888;

  }

  .custom-button {
    white-space: nowrap;
  }


}

@font-face {
  font-family: 'NeoSans';
  src: url('src/assets/fonts/NeoSansArabic.ttf') format('truetype');
  font-weight: normal;
  /*normal*/
}

@font-face {
  font-family: 'NeoSans';
  src: url('src/assets/fonts/NeoSansArabicLight.ttf') format('truetype');
  font-weight: 300;
  /*Light */
}

@font-face {
  font-family: 'NeoSans';
  src: url('src/assets/fonts/NeoSansArabicMedium.ttf') format('truetype');
  font-weight: 500;
  /*Medium */
}

.NeoSansR {
  font-family: 'NeoSans';
  font-weight: normal;
  /* Will use NeoSansArabic.ttf */
}

.NeoSansL {
  font-family: 'NeoSans';
  font-weight: 300;
  /* Will use NeoSansArabicLight.ttf */
}

.NeoSansM {
  font-family: 'NeoSans';
  font-weight: 500;
  /* Will use NeoSansArabicMedium.ttf */
}