:root {
  --PhoneInput-color--focus: transparent !important;
}

.custom-select {
  -webkit-appearance: none;
  /* Remove default style in WebKit browsers */
  -moz-appearance: none;
  /* Remove default style in Firefox */
  appearance: none;
  /* Remove default style for all browsers */
  background-image: url('../../assets/darkdropdown.svg');
  /* Path to your arrow image */
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  /* Adjust as needed */
  background-size: 12px;
  /* Size of your arrow image */
}

/* You may want to add some padding to account for the image */
.custom-select {
  padding-right: 2em;
  /* Add padding to ensure text doesn't overlap the image */
}


.PhoneInputInput {
  outline: none;
}

input {
  color: black;
  /* or #808080 for medium grey */
  background: #f8f9fa;
}

.react-datepicker {
  --tw-bg-opacity: 1;
  background-color: rgba(249, 250, 251, var(--tw-bg-opacity));
  /* bg-gray-50 */
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  /* border-gray-300 */
  color: rgba(17, 24, 39, var(--tw-text-opacity));
  /* text-gray-900 */
}

.react-datepicker__header {
  background-color: transparent;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 1rem;
  line-height: 1rem;
}

.react-datepicker__input-container input {
  width: 100%;
  outline: none;
  background-color: #f8f9fa;
  /* bg-gray-50 */
  border: none;
  /* border border-gray-300 */
  color: #121822;
  /* text-gray-900 */
  border-radius: 50rem;
  /* rounded-lg */
  padding: 0rem;
  font-family: "NeoSans", "sans-serif";
  font-size: 0.875rem;
  /* 14px */
  line-height: 1.25rem;
  /* 20px */
  font-weight: 400;

}

.react-datepicker__input-container input:focus {
  border-color: none;
  /* focus:border-blue-500 */
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
  /* focus:ring-blue-500 */
}

.react-datepicker__input-container input:focus {
  border: none;
  outline: none;
}

.react-datepicker__current-month {
  color: #ffffff;
  /* Change to your desired font color */
}

.react-datepicker__year-dropdown {
  color: #ffffff;
}

.react-datepicker__year-dropdown--scrollable {
  color: #121822;
}

.css-ia5g2l-control {
  border-radius: 100px !important;
}
.css-1ar1130-control{
  border-radius: 100px !important;
}

.css-1xc3v61-indicatorContainer,.css-15lsz6c-indicatorContainer{ 
  color: #f8f9fa; 
  border-radius: 100px !important;
  background-color: black;
  /* background-image: url('../assets/darkdropdown.svg'); */
  size: 20px;
  height: 20px;
  width: 20px;
  display: flex; /* Added for centering content, if necessary */
  justify-content: center; /* Center horizontally */
  align-items: center; 
  margin-right: 10px;
}

.css-1u9des2-indicatorSeparator{
  margin-right: 15px;
}

.css-tj5bde-Svg{
 padding:0;
}

.css-art2ul-ValueContainer2{

}